# Восстановление золота из руды

Необходимо подготовить прототип модели машинного обучения для компании «Цифры», которая разрабатывает решения для эффективной работы промышленных предприятий.
Модель должна предсказать коэффициент восстановления золота из золотосодержащей руды. У нас есть данные с параметрами добычи и очистки.
Модель поможет оптимизировать производство, чтобы не запускать предприятие с убыточными характеристиками.

В процессе выполнения проекта необходимо:

- Подготовить данные;
- Провести исследовательский анализ данных;
- Построить и обучить модель.

***Технологический процесс***

Когда добытая руда проходит первичную обработку, получается дроблёная смесь. Её отправляют на флотацию (обогащение) и двухэтапную очистку.


**Стадии:**

1. Флотация

Во флотационную установку подаётся смесь золотосодержащей руды. После обогащения получается черновой концентрат и «отвальные хвосты», то есть остатки продукта с низкой концентрацией ценных металлов.
На стабильность этого процесса влияет непостоянное и неоптимальное физико-химическое состояние флотационной пульпы (смеси твёрдых частиц и жидкости).

2. Очистка

Черновой концентрат проходит две очистки. На выходе получается финальный концентрат и новые отвальные хвосты.


***Описание данных***

**Технологический процесс**

* `Rougher feed` — исходное сырье
* `Rougher additions` (или `reagent additions`) — флотационные реагенты: Xanthate, Sulphate, Depressant
    * `Xanthat **` — ксантогенат (промотер, или активатор флотации);
    * `Sulphate` — сульфат (на данном производстве сульфид натрия);
    * `Depressant` — депрессант (силикат натрия).
* `Rougher process` (англ. «грубый процесс») — флотация
* `Rougher tails` — отвальные хвосты
* `Float banks` — флотационная установка
* `Cleaner process` — очистка
* `Rougher Au` — черновой концентрат золота
* `Final Au` — финальный концентрат золота

**Параметры этапов**

* `air amount` — объём воздуха
* `fluid levels` — уровень жидкости
* `feed size` — размер гранул сырья
* `feed rate` — скорость подачи


Нужно спрогнозировать сразу две величины:

1. эффективность обогащения чернового концентрата `rougher.output.recovery`;
2. эффективность обогащения финального концентрата `final.output.recovery`.


Данные находятся в трёх файлах:

* `gold_recovery_train_new_8ds.csv` — обучающая выборка;
* `gold_recovery_test_new_8ds.csv` — тестовая выборка;
* `gold_recovery_full_new_8ds.csv` — исходные данные.

Данные индексируются датой и временем получения информации (признак `date`). Соседние по времени параметры часто похожи.

Некоторые параметры недоступны, потому что замеряются и/или рассчитываются значительно позже. Из-за этого в тестовой выборке отсутствуют некоторые признаки, которые могут быть в обучающей. Также в тестовом наборе нет целевых признаков.

Исходный датасет содержит обучающую и тестовую выборки со всеми признаками.

Данные сырые. Необхоима их проверка и предобработка.

## Загрузка и подготовка данных

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important; }</style>"))

***Выгрузка библиотек***

In [29]:
import pandas as pd
pd.set_option('display.max_columns', None)

***Константы***

In [4]:
RANDOM_SEED = 0

In [5]:
# Based on: https://stackoverflow.com/a/17303428 (для красивого оформления текста)
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

***Функции***

In [6]:
#Рандоманая выгрузка строк
show_sample = lambda x: display(x.sample(5, random_state=RANDOM_SEED).reset_index(drop=True))

In [26]:
def com_info(data):
    name = [x for x in globals() if globals()[x] is data][0]
    print(color.UNDERLINE + 'Общая информация по данным '+ name + color.END)
    show_sample(data)
    print(data.info())
    display(pd.DataFrame(round((data.isna().mean()), 2)).style.background_gradient('coolwarm')\
                                                                .set_caption('% пропусков').format({0:'{:.2%}'.format}))
    display(data.describe().T.style.set_caption('Статистика'))
    print('Количество дублей: ', data.duplicated().sum())
    print('******************************************************************')
    print('')

***Загрука данных***

In [27]:
df_train = pd.read_csv('../datasets/gold_recovery_train_new_8ds.csv')
df_test = pd.read_csv('../datasets/gold_recovery_test_new_8ds.csv')
df_full = pd.read_csv('../datasets/gold_recovery_full_new_8ds.csv')

## Изучение общей информации

In [28]:
df_list = [df_train, df_test, df_full]
for i in df_list:
    com_info(i)

Общая информация по данным df_train

,date,final.output.concentrate_ag,final.output.concentrate_pb,final.output.concentrate_sol,final.output.concentrate_au,final.output.recovery,final.output.tail_ag,final.output.tail_pb,final.output.tail_sol,final.output.tail_au,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2018-06-08 12:59:59,4.068389,11.448127,5.983031,45.728369,63.185926,7.436988,2.577877,10.211517,2.042844,...,30.026765,-485.043326,22.022924,-466.815927,25.026081,-495.662399,21.919914,-500.075170,24.989364,-501.420340
1,2016-06-24 08:59:59,4.672297,10.013952,8.417600,45.142223,70.512351,8.217110,1.566327,11.871072,2.433252,...,15.997023,-499.721909,7.967451,-501.191492,16.024186,-500.172937,7.020786,-500.459658,24.969568,-498.972262
2,2017-03-12 03:59:59,4.999209,8.771206,8.396900,48.307998,66.501485,9.825832,3.145526,7.156999,3.558258,...,25.012867,-400.070250,22.977935,-400.084529,20.060910,-449.437364,19.983941,-449.840148,24.992126,-499.687118
3,2016-06-08 04:59:59,3.879375,9.816033,7.747834,47.631350,49.304890,8.156908,2.203170,9.323327,3.720784,...,8.983344,-550.003505,7.115827,-550.971423,7.866452,-551.177450,6.040703,-550.015381,18.010314,-500.538411
4,2016-08-01 14:59:59,4.403698,10.823148,9.911247,43.927370,69.502636,9.344400,2.947228,12.024562,3.293919,...,20.074004,-401.480443,10.031345,-402.416679,10.010939,-400.062267,4.957975,-400.499557,23.045125,-500.498783

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14149 entries, 0 to 14148
Data columns (total 87 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                14149 non-null  object
 1   final.output.concentrate_ag                         14148 non-null  float64
 2   final.output.concentrate_pb                         14148 non-null  float64
 3   final.output.concentrate_sol                        13938 non-null  float64
 4   final.output.concentrate_au                         14149 non-null  float64
 5   final.output.recovery                               14149 non-null  float64
 6   final.output.tail_ag                                14149 non-null  float64
 7   final.output.tail_pb                                14049 non-null  float64
 8   final.output.tail_sol                               14144 non-null  float64
 9   final.output.tail_au                                14149 non-null  float64
 10  primary_cleaner.input.sulfate                       14129 non-null  float64
 11  primary_cleaner.input.depressant                    14117 non-null  float64
 12  primary_cleaner.input.feed_size                     14149 non-null  float64
 13  primary_cleaner.input.xanthate                      14049 non-null  float64
 14  primary_cleaner.output.concentrate_ag               14149 non-null  float64
 15  primary_cleaner.output.concentrate_pb               14063 non-null  float64
 16  primary_cleaner.output.concentrate_sol              13863 non-null  float64
 17  primary_cleaner.output.concentrate_au               14149 non-null  float64
 18  primary_cleaner.output.tail_ag                      14148 non-null  float64
 19  primary_cleaner.output.tail_pb                      14134 non-null  float64
 20  primary_cleaner.output.tail_sol                     14103 non-null  float64
 21  primary_cleaner.output.tail_au                      14149 non-null  float64
 22  primary_cleaner.state.floatbank8_a_air              14145 non-null  float64
 23  primary_cleaner.state.floatbank8_a_level            14148 non-null  float64
 24  primary_cleaner.state.floatbank8_b_air              14145 non-null  float64
 25  primary_cleaner.state.floatbank8_b_level            14148 non-null  float64
 26  primary_cleaner.state.floatbank8_c_air              14147 non-null  float64
 27  primary_cleaner.state.floatbank8_c_level            14148 non-null  float64
 28  primary_cleaner.state.floatbank8_d_air              14146 non-null  float64
 29  primary_cleaner.state.floatbank8_d_level            14148 non-null  float64
 30  rougher.calculation.sulfate_to_au_concentrate       14148 non-null  float64
 31  rougher.calculation.floatbank10_sulfate_to_au_feed  14148 non-null  float64
 32  rougher.calculation.floatbank11_sulfate_to_au_feed  14148 non-null  float64
 33  rougher.calculation.au_pb_ratio                     14149 non-null  float64
 34  rougher.input.feed_ag                               14149 non-null  float64
 35  rougher.input.feed_pb                               14049 non-null  float64
 36  rougher.input.feed_rate                             14141 non-null  float64
 37  rougher.input.feed_size                             14005 non-null  float64
 38  rougher.input.feed_sol                              14071 non-null  float64
 39  rougher.input.feed_au                               14149 non-null  float64
 40  rougher.input.floatbank10_sulfate                   14120 non-null  float64
 41  rougher.input.floatbank10_xanthate                  14141 non-null  float64
 42  rougher.input.floatbank11_sulfate                   14113 non-null  float64
 43  rougher.input.floatbank11_xanthate                  13721 non-null  float64
 44  rougher.output.concentrate_ag                       14149 non-null  float64
 45  rougher.output.concentrate_pb                       14149 non-null  float64
 46  rougher.output.concentrate_sol                      14127 non-null  float64
 47  rougher.output.concentrate_au                       14149 non-null  float64
 48  rougher.output.recovery                             14149 non-null  float64
 49  rougher.output.tail_ag                              14148 non-null  float64
 50  rougher.output.tail_pb                              14149 non-null  float64
 51  rougher.output.tail_sol                             14149 non-null  float64
 52  rougher.output.tail_au                              14149 non-null  float64
 53  rougher.state.floatbank10_a_air                     14148 non-null  float64
 54  rougher.state.floatbank10_a_level                   14148 non-null  float64
 55  rougher.state.floatbank10_b_air                     14148 non-null  float64
 56  rougher.state.floatbank10_b_level                   14148 non-null  float64
 57  rougher.state.floatbank10_c_air                     14148 non-null  float64
 58  rougher.state.floatbank10_c_level                   14148 non-null  float64
 59  rougher.state.floatbank10_d_air                     14149 non-null  float64
 60  rougher.state.floatbank10_d_level                   14149 non-null  float64
 61  rougher.state.floatbank10_e_air                     13713 non-null  float64
 62  rougher.state.floatbank10_e_level                   14149 non-null  float64
 63  rougher.state.floatbank10_f_air                     14149 non-null  float64
 64  rougher.state.floatbank10_f_level                   14149 non-null  float64
 65  secondary_cleaner.output.tail_ag                    14147 non-null  float64
 66  secondary_cleaner.output.tail_pb                    14139 non-null  float64
 67  secondary_cleaner.output.tail_sol                   12544 non-null  float64
 68  secondary_cleaner.output.tail_au                    14149 non-null  float64
 69  secondary_cleaner.state.floatbank2_a_air            13932 non-null  float64
 70  secondary_cleaner.state.floatbank2_a_level          14148 non-null  float64
 71  secondary_cleaner.state.floatbank2_b_air            14128 non-null  float64
 72  secondary_cleaner.state.floatbank2_b_level          14148 non-null  float64
 73  secondary_cleaner.state.floatbank3_a_air            14145 non-null  float64
 74  secondary_cleaner.state.floatbank3_a_level          14148 non-null  float64
 75  secondary_cleaner.state.floatbank3_b_air            14148 non-null  float64
 76  secondary_cleaner.state.floatbank3_b_level          14148 non-null  float64
 77  secondary_cleaner.state.floatbank4_a_air            14143 non-null  float64
 78  secondary_cleaner.state.floatbank4_a_level          14148 non-null  float64
 79  secondary_cleaner.state.floatbank4_b_air            14148 non-null  float64
 80  secondary_cleaner.state.floatbank4_b_level          14148 non-null  float64
 81  secondary_cleaner.state.floatbank5_a_air            14148 non-null  float64
 82  secondary_cleaner.state.floatbank5_a_level          14148 non-null  float64
 83  secondary_cleaner.state.floatbank5_b_air            14148 non-null  float64
 84  secondary_cleaner.state.floatbank5_b_level          14148 non-null  float64
 85  secondary_cleaner.state.floatbank6_a_air            14147 non-null  float64
 86  secondary_cleaner.state.floatbank6_a_level          14148 non-null  float64
dtypes: float64(86), object(1)
memory usage: 9.4+ MB
None

Количество дублей:  0
******************************************************************

Общая информация по данным df_test

,date,primary_cleaner.input.sulfate,primary_cleaner.input.depressant,primary_cleaner.input.feed_size,primary_cleaner.input.xanthate,primary_cleaner.state.floatbank8_a_air,primary_cleaner.state.floatbank8_a_level,primary_cleaner.state.floatbank8_b_air,primary_cleaner.state.floatbank8_b_level,primary_cleaner.state.floatbank8_c_air,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2016-09-02 05:59:59,126.329123,8.003034,7.160000,0.699695,1400.760536,-500.200817,1399.437375,-500.679938,1399.429209,...,11.960962,-500.130469,7.924387,-500.362897,7.849120,-500.357611,4.983730,-500.111778,9.935444,-500.440997
1,2016-10-02 01:59:59,137.116643,3.972800,8.600000,0.803511,1598.994956,-500.061922,1603.985367,-499.302443,1600.063771,...,12.015829,-580.205684,9.996712,-499.568551,10.029440,-500.834429,4.916034,-500.806331,20.014843,-499.598636
2,2016-10-05 16:59:59,136.160058,4.001874,7.700000,0.701256,1648.213302,-500.612006,1649.936185,-499.849197,1647.739364,...,13.988463,-498.835101,13.073075,-501.503654,10.127322,-498.489453,7.952812,-498.803034,22.987675,-500.658281
3,2017-10-31 11:59:59,220.706679,9.139982,7.040000,2.364929,1700.289848,-508.068208,1700.434596,-489.509097,1542.893209,...,18.019398,-502.523088,15.929214,-501.441100,14.962390,-500.562438,11.010074,-500.306513,16.008406,-500.749837
4,2017-12-25 11:59:59,212.717029,15.009052,8.150001,0.859222,1601.389637,-399.591203,1602.644217,-397.938382,1301.027142,...,19.997723,-498.411588,14.901334,-498.971556,11.040440,-498.615851,8.993469,-499.880708,12.000884,-499.051922

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5290 entries, 0 to 5289
Data columns (total 53 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        5290 non-null   object
 1   primary_cleaner.input.sulfate               5286 non-null   float64
 2   primary_cleaner.input.depressant            5285 non-null   float64
 3   primary_cleaner.input.feed_size             5290 non-null   float64
 4   primary_cleaner.input.xanthate              5286 non-null   float64
 5   primary_cleaner.state.floatbank8_a_air      5290 non-null   float64
 6   primary_cleaner.state.floatbank8_a_level    5290 non-null   float64
 7   primary_cleaner.state.floatbank8_b_air      5290 non-null   float64
 8   primary_cleaner.state.floatbank8_b_level    5290 non-null   float64
 9   primary_cleaner.state.floatbank8_c_air      5290 non-null   float64
 10  primary_cleaner.state.floatbank8_c_level    5290 non-null   float64
 11  primary_cleaner.state.floatbank8_d_air      5290 non-null   float64
 12  primary_cleaner.state.floatbank8_d_level    5290 non-null   float64
 13  rougher.input.feed_ag                       5290 non-null   float64
 14  rougher.input.feed_pb                       5290 non-null   float64
 15  rougher.input.feed_rate                     5287 non-null   float64
 16  rougher.input.feed_size                     5289 non-null   float64
 17  rougher.input.feed_sol                      5269 non-null   float64
 18  rougher.input.feed_au                       5290 non-null   float64
 19  rougher.input.floatbank10_sulfate           5285 non-null   float64
 20  rougher.input.floatbank10_xanthate          5290 non-null   float64
 21  rougher.input.floatbank11_sulfate           5282 non-null   float64
 22  rougher.input.floatbank11_xanthate          5265 non-null   float64
 23  rougher.state.floatbank10_a_air             5290 non-null   float64
 24  rougher.state.floatbank10_a_level           5290 non-null   float64
 25  rougher.state.floatbank10_b_air             5290 non-null   float64
 26  rougher.state.floatbank10_b_level           5290 non-null   float64
 27  rougher.state.floatbank10_c_air             5290 non-null   float64
 28  rougher.state.floatbank10_c_level           5290 non-null   float64
 29  rougher.state.floatbank10_d_air             5290 non-null   float64
 30  rougher.state.floatbank10_d_level           5290 non-null   float64
 31  rougher.state.floatbank10_e_air             5290 non-null   float64
 32  rougher.state.floatbank10_e_level           5290 non-null   float64
 33  rougher.state.floatbank10_f_air             5290 non-null   float64
 34  rougher.state.floatbank10_f_level           5290 non-null   float64
 35  secondary_cleaner.state.floatbank2_a_air    5287 non-null   float64
 36  secondary_cleaner.state.floatbank2_a_level  5290 non-null   float64
 37  secondary_cleaner.state.floatbank2_b_air    5288 non-null   float64
 38  secondary_cleaner.state.floatbank2_b_level  5290 non-null   float64
 39  secondary_cleaner.state.floatbank3_a_air    5281 non-null   float64
 40  secondary_cleaner.state.floatbank3_a_level  5290 non-null   float64
 41  secondary_cleaner.state.floatbank3_b_air    5290 non-null   float64
 42  secondary_cleaner.state.floatbank3_b_level  5290 non-null   float64
 43  secondary_cleaner.state.floatbank4_a_air    5290 non-null   float64
 44  secondary_cleaner.state.floatbank4_a_level  5290 non-null   float64
 45  secondary_cleaner.state.floatbank4_b_air    5290 non-null   float64
 46  secondary_cleaner.state.floatbank4_b_level  5290 non-null   float64
 47  secondary_cleaner.state.floatbank5_a_air    5290 non-null   float64
 48  secondary_cleaner.state.floatbank5_a_level  5290 non-null   float64
 49  secondary_cleaner.state.floatbank5_b_air    5290 non-null   float64
 50  secondary_cleaner.state.floatbank5_b_level  5290 non-null   float64
 51  secondary_cleaner.state.floatbank6_a_air    5290 non-null   float64
 52  secondary_cleaner.state.floatbank6_a_level  5290 non-null   float64
dtypes: float64(52), object(1)
memory usage: 2.1+ MB
None

Количество дублей:  0
******************************************************************

Общая информация по данным df_full

,date,final.output.concentrate_ag,final.output.concentrate_pb,final.output.concentrate_sol,final.output.concentrate_au,final.output.recovery,final.output.tail_ag,final.output.tail_pb,final.output.tail_sol,final.output.tail_au,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2017-02-08 14:59:59,5.295988,8.195301,13.379583,47.758663,65.280176,9.925318,3.387088,7.605304,3.382011,...,24.937716,-499.827034,22.955855,-499.981726,23.018173,-499.465128,20.014626,-500.003639,24.991929,-599.773615
1,2016-10-29 13:59:59,3.020476,9.071122,16.816693,49.797229,63.724514,8.165338,3.167601,10.705567,3.591239,...,19.999104,-500.526123,16.899111,-500.418689,17.000241,-497.845707,13.990843,-499.834974,0.127304,-808.800767
2,2017-08-10 06:59:59,3.455687,12.662607,6.890618,45.799572,62.002449,7.103502,4.485478,11.579938,3.446024,...,16.031300,-500.548355,12.014055,-399.804953,15.987138,-500.414523,11.990190,-500.074479,15.009936,-500.026179
3,2018-03-20 17:59:59,5.360341,12.297913,6.589168,42.586163,56.365844,8.325812,1.211108,8.217830,2.221499,...,23.051530,-500.327972,14.984485,-499.893529,30.004056,-499.853016,15.031900,-500.068586,12.989058,-499.878706
4,2017-02-26 19:59:59,4.645203,10.322894,14.283728,46.100397,74.086821,12.162428,4.429356,9.392597,3.720634,...,24.994581,-398.620115,23.010430,-399.770903,22.975057,-455.682049,20.005831,-449.548036,25.005151,-499.842326

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19439 entries, 0 to 19438
Data columns (total 87 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                19439 non-null  object
 1   final.output.concentrate_ag                         19438 non-null  float64
 2   final.output.concentrate_pb                         19438 non-null  float64
 3   final.output.concentrate_sol                        19228 non-null  float64
 4   final.output.concentrate_au                         19439 non-null  float64
 5   final.output.recovery                               19439 non-null  float64
 6   final.output.tail_ag                                19438 non-null  float64
 7   final.output.tail_pb                                19338 non-null  float64
 8   final.output.tail_sol                               19433 non-null  float64
 9   final.output.tail_au                                19439 non-null  float64
 10  primary_cleaner.input.sulfate                       19415 non-null  float64
 11  primary_cleaner.input.depressant                    19402 non-null  float64
 12  primary_cleaner.input.feed_size                     19439 non-null  float64
 13  primary_cleaner.input.xanthate                      19335 non-null  float64
 14  primary_cleaner.output.concentrate_ag               19439 non-null  float64
 15  primary_cleaner.output.concentrate_pb               19323 non-null  float64
 16  primary_cleaner.output.concentrate_sol              19069 non-null  float64
 17  primary_cleaner.output.concentrate_au               19439 non-null  float64
 18  primary_cleaner.output.tail_ag                      19435 non-null  float64
 19  primary_cleaner.output.tail_pb                      19418 non-null  float64
 20  primary_cleaner.output.tail_sol                     19377 non-null  float64
 21  primary_cleaner.output.tail_au                      19439 non-null  float64
 22  primary_cleaner.state.floatbank8_a_air              19435 non-null  float64
 23  primary_cleaner.state.floatbank8_a_level            19438 non-null  float64
 24  primary_cleaner.state.floatbank8_b_air              19435 non-null  float64
 25  primary_cleaner.state.floatbank8_b_level            19438 non-null  float64
 26  primary_cleaner.state.floatbank8_c_air              19437 non-null  float64
 27  primary_cleaner.state.floatbank8_c_level            19438 non-null  float64
 28  primary_cleaner.state.floatbank8_d_air              19436 non-null  float64
 29  primary_cleaner.state.floatbank8_d_level            19438 non-null  float64
 30  rougher.calculation.sulfate_to_au_concentrate       19437 non-null  float64
 31  rougher.calculation.floatbank10_sulfate_to_au_feed  19437 non-null  float64
 32  rougher.calculation.floatbank11_sulfate_to_au_feed  19437 non-null  float64
 33  rougher.calculation.au_pb_ratio                     19439 non-null  float64
 34  rougher.input.feed_ag                               19439 non-null  float64
 35  rougher.input.feed_pb                               19339 non-null  float64
 36  rougher.input.feed_rate                             19428 non-null  float64
 37  rougher.input.feed_size                             19294 non-null  float64
 38  rougher.input.feed_sol                              19340 non-null  float64
 39  rougher.input.feed_au                               19439 non-null  float64
 40  rougher.input.floatbank10_sulfate                   19405 non-null  float64
 41  rougher.input.floatbank10_xanthate                  19431 non-null  float64
 42  rougher.input.floatbank11_sulfate                   19395 non-null  float64
 43  rougher.input.floatbank11_xanthate                  18986 non-null  float64
 44  rougher.output.concentrate_ag                       19439 non-null  float64
 45  rougher.output.concentrate_pb                       19439 non-null  float64
 46  rougher.output.concentrate_sol                      19416 non-null  float64
 47  rougher.output.concentrate_au                       19439 non-null  float64
 48  rougher.output.recovery                             19439 non-null  float64
 49  rougher.output.tail_ag                              19438 non-null  float64
 50  rougher.output.tail_pb                              19439 non-null  float64
 51  rougher.output.tail_sol                             19439 non-null  float64
 52  rougher.output.tail_au                              19439 non-null  float64
 53  rougher.state.floatbank10_a_air                     19438 non-null  float64
 54  rougher.state.floatbank10_a_level                   19438 non-null  float64
 55  rougher.state.floatbank10_b_air                     19438 non-null  float64
 56  rougher.state.floatbank10_b_level                   19438 non-null  float64
 57  rougher.state.floatbank10_c_air                     19438 non-null  float64
 58  rougher.state.floatbank10_c_level                   19438 non-null  float64
 59  rougher.state.floatbank10_d_air                     19439 non-null  float64
 60  rougher.state.floatbank10_d_level                   19439 non-null  float64
 61  rougher.state.floatbank10_e_air                     19003 non-null  float64
 62  rougher.state.floatbank10_e_level                   19439 non-null  float64
 63  rougher.state.floatbank10_f_air                     19439 non-null  float64
 64  rougher.state.floatbank10_f_level                   19439 non-null  float64
 65  secondary_cleaner.output.tail_ag                    19437 non-null  float64
 66  secondary_cleaner.output.tail_pb                    19427 non-null  float64
 67  secondary_cleaner.output.tail_sol                   17691 non-null  float64
 68  secondary_cleaner.output.tail_au                    19439 non-null  float64
 69  secondary_cleaner.state.floatbank2_a_air            19219 non-null  float64
 70  secondary_cleaner.state.floatbank2_a_level          19438 non-null  float64
 71  secondary_cleaner.state.floatbank2_b_air            19416 non-null  float64
 72  secondary_cleaner.state.floatbank2_b_level          19438 non-null  float64
 73  secondary_cleaner.state.floatbank3_a_air            19426 non-null  float64
 74  secondary_cleaner.state.floatbank3_a_level          19438 non-null  float64
 75  secondary_cleaner.state.floatbank3_b_air            19438 non-null  float64
 76  secondary_cleaner.state.floatbank3_b_level          19438 non-null  float64
 77  secondary_cleaner.state.floatbank4_a_air            19433 non-null  float64
 78  secondary_cleaner.state.floatbank4_a_level          19438 non-null  float64
 79  secondary_cleaner.state.floatbank4_b_air            19438 non-null  float64
 80  secondary_cleaner.state.floatbank4_b_level          19438 non-null  float64
 81  secondary_cleaner.state.floatbank5_a_air            19438 non-null  float64
 82  secondary_cleaner.state.floatbank5_a_level          19438 non-null  float64
 83  secondary_cleaner.state.floatbank5_b_air            19438 non-null  float64
 84  secondary_cleaner.state.floatbank5_b_level          19438 non-null  float64
 85  secondary_cleaner.state.floatbank6_a_air            19437 non-null  float64
 86  secondary_cleaner.state.floatbank6_a_level          19438 non-null  float64
dtypes: float64(86), object(1)
memory usage: 12.9+ MB
None

Количество дублей:  0
******************************************************************

***df_train***

- Типы данных не оптимизированы, необходимо понизить разрядность признаков
- В данных есть пропуски, больше всего в признаке `secondary_cleaner.output.tail_sol` (11%)
- Некоторые признаки отрицательные - например, `primary_cleaner.state.floatbank8_b_level`, `primary_cleaner.state.floatbank8_c_level`, `rougher.state.floatbank10_a_level` и т.д.
- Полных дублей в данных нет.

## Предобработка